*{
    margin: 0;
    padding: 0;

}

//variable
$color:rgb(255 249 201);
$color1:rgb(255, 145, 72);

// ===============
body{
    background-color: $color;
    margin-left: 3rem;
    margin-right: 3rem;
}
.container{
    padding: 1rem;
}
.header_tittle{
text-align: center;
padding: 1rem;
}
form.example {
    float: right;
}

form.example input[type=text] {
    padding: 7px;
    font-size: 17px;
    // border: 1px solid grey;
    border:none;
    float: left;
    width: 70%;
    background: white;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 7px;
    background:$color1;
    color: white;
    border:none;
    font-size: 17px;
   
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.filter_box{
    background-color: white;
    padding: 1rem;
}
.whole_part{
  padding: 1rem;
}
.table_container{
    background-color: white;
    h6{
        text-align: center;
        padding-bottom:1rem;
    }

}
.addbutton{
    background-color: $color1;
    color:white;
    border:none;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
}